{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="div-inconstruction">
<h1 class="inconstruction">PAGE EN CONSTRUCTION, VOUS LA VERREZ PROCHAINEMENT!!!!!!</h1>
<img src="build/images/biglogo.png" class="d-block w-50" alt="logo nomnomnom" />
</div>
{% endblock %}
