{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    
    <div class="container text-center">
    <p class="paragraph">Rejoignez-nous pour des recettes inoubliables, partagez des moments délicieux en famille et entre amis</p>
    <a href="{{path('app_home_inconstruction')}}" type="button" class="btn btn-primary but" tabindex="-1" role="button" aria-disabled="true">Rejoignez-nous</a>
    <p>Découvrez un univers gourmand où chaque recette devient une invitation à partager des moments chaleureux en famille ou entre amis. Rejoignez notre communauté culinaire et transformez chaque repas en une expérience mémorable, où la passion de la cuisine se marie harmonieusement avec le plaisir de créer des souvenirs délicieux.</p>
    </div>
{% endblock %}
