{% extends 'base.html.twig' %}

{% block title %}
  Accueil - Bienvenue sur l'application Nom nom nom
{% endblock %}

{% block body %}
  <div class="container text-center">
    <div id="carouselExampleIndicators" class="carousel carousel-dark slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
     <div class="carousel-inner">
    {% for key, recipe in showRecipes %}
        <div class="carousel-item {% if key == 0 %}active{% endif %}">
            <img src="./build/images/stock-chicken.png" class="pic-recipe" alt="{{ recipe.nameRecipe }}" />
            <div class="carousel-caption d-md-block">
                <h5>{{ recipe.nameRecipe }}</h5>
                <p>{{ recipe.description }}</p>
            </div>
        </div>
    {% endfor %}
</div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div class="container text-center">
    <p class="paragraph">Rejoignez-nous pour des recettes inoubliables, partagez des moments délicieux en famille et entre amis</p>
    <a href="#" type="button" class="btn btn-primary but" tabindex="-1" role="button" aria-disabled="true">Rejoignez-nous</a>
    <p>Découvrez un univers gourmand où chaque recette devient une invitation à partager des moments chaleureux en famille ou entre amis. Rejoignez notre communauté culinaire et transformez chaque repas en une expérience mémorable, où la passion de la cuisine se marie harmonieusement avec le plaisir de créer des souvenirs délicieux.</p>
  </div>
{% endblock %}
