<h1>Bonjour! Veuillez confirmer votre adresse mail!</h1>

<p>
    Veuillez confirmer votre adresse mail en cliquant sur le lien suivant : <br><br>
    <a href="{{ user|raw }}">Confirmer votre mail</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Bon appétit!
</p>
