{% extends 'base.html.twig' %}

{% block title %}Bonjour nouveau gourmet!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bonjour {{ controller_name }}! ✅</h1>

    Ce message vient de:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/DO Nhu Ngoc/Documents/wildcodeschool/P3/2023-09-PHP-LYON-P3-nom-nom-nom/src/Controller/RegistrationController.php'|file_link(0) }}">src/Controller/RegistrationController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/DO Nhu Ngoc/Documents/wildcodeschool/P3/2023-09-PHP-LYON-P3-nom-nom-nom/templates/registration/index.html.twig'|file_link(0) }}">templates/registration/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
