@import "~bootstrap/scss/bootstrap";
//--------------------------variable--------------------------
$backgroundButton: #BF4E40;



// ---------------------------mixin------------------------------
@mixin myButton ($x, $y, $radius, $color) {
    width: $x;
    height: $y;
    border-radius : $radius;
    background-color: $color;
}


// -----------------------home page------------------------------
.but {
    @include myButton(8.625rem, 1.875rem, 0.75rem, ($backgroundButton));
}