@import "~bootstrap/scss/bootstrap";
//--------------------------variable--------------------------
$backgroundButton: #bf4e40;
$backgroundButtonDark: #444559;
$backgroundMainColor: #faf6f4;
$backgroundColorLogin: #74332b;
$fontTitle: "Maven Pro";
$fontColorButton: #fff;
$fontSizeButton: 0.75rem;
$fontSizeButtonBig: 1.2rem;
$fontStyleButton: normal;
$fontWeightButton: 700;
$lineHeightButton: unset;

$fontText: "Noto Sans";
$fontColorText: #444559;
$fontColorTextRed: #bf4e40;
$fontSizeText: 0.9375rem;
$fontSizeInfosRecipe: 1.2rem;
$fontStyleText: normal;
$fontWeightText: 600;
$fontWeightTitle: 800;
$fontWeightInfos: 1000;
$lineHeightText: normal;
$fontSizeTitle: 1.5rem;
$fontSizeTitleH3: 1.3rem;
$glassmorphism: blur(9.2px);

$widthPic: 16rem;
$heightPic: 29rem;
$widthPicDesktop: 23rem;
$heightPicDesktop: 31rem;
$borderRadiusPic: 1.625rem;
$boxShadowPic: 0px 4px 9px 3px #c2aca1;

@import "~bootstrap/scss/bootstrap";

// ---------------------------mixin------------------------------
@mixin myButton(
    $x,
    $y,
    $radius,
    $color,
    $fontFamily,
    $fontColor,
    $fontSize,
    $fontStyle,
    $fontWeight,
    $lineHeight
) {
    width: $x;
    height: $y;
    border-radius: $radius;
    background-color: $color;
    font-family: $fontFamily;
    color: $fontColor;
    font-size: $fontSize;
    font-style: $fontStyle;
    font-weight: $fontWeight;
    line-height: $lineHeight;
}

@mixin myText(
    $fontFamily,
    $fontColorText,
    $fontSize,
    $fontStyle,
    $fontWeight,
    $lineHeight
) {
    font-family: $fontFamily;
    color: $fontColorText;
    font-size: $fontSize;
    font-style: $fontStyle;
    font-weight: $fontWeight;
    line-height: $lineHeight;
}

@mixin myPicture($x, $y, $borderRadius, $boxShadow) {
    width: $x;
    height: $y;
    border-radius: $borderRadius;
    box-shadow: $boxShadow;
}
@mixin myPictureDesktop($x, $y, $boxShadow) {
    width: $x;
    height: $y;
    box-shadow: $boxShadow;
}

@mixin glass($x, $y, $glassmorphism, $borderRadiusPic) {
    width: $x;
    height: $y;
    backdrop-filter: $glassmorphism;
    border-radius: $borderRadiusPic;
}

@mixin glassDesktop($glassmorphism, $borderRadiusPic) {
    backdrop-filter: $glassmorphism;
    border-radius: $borderRadiusPic;
}
* {
    box-sizing: border-box;
    padding: 0;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

body {
    background-color: $backgroundMainColor;
    @include media-breakpoint-down(md) {
           padding-bottom: 15%;
    }
}

// -----------------------button------------------------------
.btn-primary {
    --bs-btn-border-color: none;
    background-color: $backgroundButton;
    --bs-btn-active-bg: #2f5057;
}

.button-crud {
    @include myButton(
        8.625rem,
        2rem,
        0.75rem,
        ($backgroundButton),
        ($fontTitle),
        ($fontColorButton),
        ($fontSizeButton),
        ($fontStyleButton),
        ($fontWeightButton),
        ($lineHeightButton)
    );

    &:hover {
        background-color: $backgroundButton;
    }
}

.crud-button-block {
    @include media-breakpoint-down(md) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 16px 0 24px;
    }

    @include media-breakpoint-up(md) {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 32px 0 24px;
    }
}

.button-crud-big {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    @include myButton(
        12rem,
        4rem,
        0.75rem,
        ($backgroundButton),
        ($fontTitle),
        ($fontColorButton),
        ($fontSizeButtonBig),
        ($fontStyleButton),
        ($fontWeightButton),
        ($lineHeightButton)
    );

    &:hover {
        background-color: $backgroundButton;
    }
}

.button-form {
    @include myButton(
        16rem,
        1.875rem,
        0.75,
        ($backgroundButton),
        ($fontTitle),
        ($fontColorButton),
        ($fontSizeButton),
        ($fontStyleButton),
        ($fontWeightButton),
        ($lineHeightButton)
    );

    &:hover {
        background-color: $backgroundButton;
    }
}

.button-form-black {
    @include myButton(
        16rem,
        1.875rem,
        0.75,
        ($backgroundButtonDark),
        ($fontTitle),
        ($fontColorButton),
        ($fontSizeButton),
        ($fontStyleButton),
        ($fontWeightButton),
        ($lineHeightButton)
    );

    &:hover {
        background-color: $backgroundButtonDark;
        color: #faf6f4;
    }
}

.button-form-center {
    display: flex;
    justify-content:center ;
}

.button-form-end {
    display: flex;
    justify-content:flex-end ;
}

//---------------------------text-----------------------------
.paragraph {
    @include myText(
        ($fontText),
        ($fontColorText),
        ($fontSizeText),
        ($fontStyleText),
        ($fontWeightText),
        ($lineHeightText)
    );
}
.textaccount {
    @include myText(
        ($fontText),
        ($fontColorButton),
        ($fontSizeText),
        ($fontStyleText),
        ($fontWeightText),
        ($lineHeightText)
    );
}

.noaccount {
    @include myText(
        ($fontText),
        ($fontColorButton),
        ($fontSizeButton),
        ($fontStyleText),
        400,
        ($lineHeightText)
    );
}

p {
    margin: 16px 0 16px;
}

.infos-recipe {
    display: inline;
    @include myText(
        ($fontTitle),
        ($fontColorText),
        ($fontSizeInfosRecipe),
        ($fontStyleText),
        ($fontWeightInfos),
        ($lineHeightText)
    );
}

.glassmorphism {
    @include glass(14.5rem, 9rem, ($glassmorphism), ($borderRadiusPic));
}

.glassmorphism-desktop {
    position: absolute;
    bottom: 2vh;
    left: 0;
    text-align: center;
    color: #faf6f4;
    width: 95%;
    @include glassDesktop(($glassmorphism), ($borderRadiusPic));
}

h2 {
    @include myText(
        ($fontTitle),
        ($fontColorText),
        ($fontSizeTitle),
        ($fontStyleText),
        ($fontWeightTitle),
        ($lineHeightText)
    );
}

.category-in-recipe {
    @include myText(
        ($fontTitle),
        ($fontColorTextRed),
        ($fontSizeTitle),
        ($fontStyleText),
        ($fontWeightTitle),
        ($lineHeightText)
    );
}

h3 {
    @include myText(
        ($fontTitle),
        ($fontColorTextRed),
        ($fontSizeTitleH3),
        ($fontStyleText),
        ($fontWeightTitle),
        ($lineHeightText)
    );
}
h1 {
    @include myText(
        ($fontTitle),
        ($fontColorText),
        ($fontSizeTitle),
        ($fontStyleText),
        ($fontWeightTitle),
        ($lineHeightText)
    );
}

//--------------------navbar-mobile-------------------
.fa-solid,
.fa-regular {
    color: $backgroundButtonDark;
    font-size: 1.45rem;
    padding: 0;
}

.fa-circle-plus {
    color: $backgroundButton;
    font-size: 2.2rem;
}

.navbar-mobile {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $backgroundMainColor;
    margin: 0;
    bottom: 0;

    @include media-breakpoint-up(md) {
        display: none;
    }
}

.nav-link {
    padding: 8px 0;

    @include media-breakpoint-up(md) {
        cursor: pointer;
    }
}

ul {
    gap: 3rem;
}

.color-count {
    @include myText(
        ($fontTitle),
        ($fontColorText),
        ($fontSizeTitleH3),
        ($fontStyleText),
        ($fontWeightTitle),
        ($lineHeightText)
    );
}

//--------------------navbar-desktop-------------------//
.navbar-desktop {
    @include media-breakpoint-down(md) {
        display: none;
    }

    @include media-breakpoint-up(md) {
        z-index: 998;
        width: 91%;
        position: fixed;
        flex-direction: column;
        justify-content: flex-end;
        flex-wrap: nowrap;
        align-items: center;
        background-color: $backgroundButton;
        padding: 16px;
        top: 200vh;
        transition: top 0.4s ease-in-out;
    }
}

.navbar-desktop li {
    cursor: pointer;
    color: $backgroundMainColor;
    font-size: larger;
    transition: 0.6s;
    &:hover {
        font-weight: bold;
    }
}

.bento-container {
    @include media-breakpoint-up(md) {
        position: fixed;
        right: 0;
        top: 0;
    }
}

.bento-container img {
    display: none;

    @include media-breakpoint-up(md) {
        z-index: 999;
        display: block;
        height: 30px;
        margin: 15px;
        cursor: pointer;
        transition: all 1.2s ease-in-out;
    }
    &:hover {
        height: 38px;
        transform: rotate(360deg);
    }
}

.list-visible {
    z-index: 999;
    display: flex;
    top: 0;
    height: 100vh;
}

.icon-visible {
    z-index: 999;
    height: 38px;
    color: $backgroundMainColor;
}
//-------sidebar----

.padding-sidebar{
    @include media-breakpoint-up(md) {
padding-left: 3vw;
}
}
//-------Carrousel----------
.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: $fontColorButton;
}

.carousel-dark .carousel-caption {
    color: $fontColorButton;
}

.pic-recipe {
    margin: 15px 0 15px;
    @include myPicture(
        ($widthPic),
        ($heightPic),
        ($borderRadiusPic),
        ($boxShadowPic)
    );
}

.pic-recipe-desktop {
    margin: 15px 0 15px;
    @include myPictureDesktop(
        ($widthPicDesktop),
        ($heightPicDesktop),
        ($boxShadowPic)
    );
}

//---------------------picture recipe----------------------//
.pic-view-recipe {
    @include myPicture(46rem, 25rem, 1.25rem, ($boxShadowPic));
}
//-------------------icon----------------
.fa-fire,
.fa-hourglass-half,
.fa-user-group {
    color: $backgroundButton;
}
//---------------CTA Home-----------------------//

//----------------------logo in form add----------------------
.logo-center {
    display: none;
}

.logo-add {
    width: 10.25rem;
    height: 10rem;
}

.container-add-form {
    display: flex;
    justify-content: center;
}

.grid-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
}

.col-form-label {
    text-align: start;
}

.mb-3:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
}

.mb-3:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 3;
}

.mb-3:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 3;
}

.mb-3:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 3;
}

.mb-3 {
    align-self: center;
    align-items: center;
}

.ingredient-form {
    width: 47%;
    @include media-breakpoint-down(md) {
        width: 100%;
    }
}

.delete-ingredient {
    display: flex;
    border-color: transparent;
    padding: 0 2rem 0 2rem;
    align-items: center;
    text-align: center;
    @include myButton(
        max-content,
        2rem,
        0.45rem,
        ($backgroundButtonDark),
        ($fontTitle),
        ($fontColorButton),
        ($fontSizeButton),
        ($fontStyleButton),
        ($fontWeightButton),
        ($lineHeightButton)
    );
}

// -----------------------recipe-steps page------------------------
.recipe-step {
    width: 60vw;
}

//-----------------------------------login mobile ---------------------
.bg-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-fond {
    background-color: rgba(0, 0, 0, 0.65);
}
// --------------------------login desktop--------------------
.back-picture {
    width: 37%;
    height: 100vh;
}

.bg-desktop-login {
    border-radius: 0 2.5rem 2.5rem 0;
    box-shadow: 24px 23px 72.5px 0px rgba(0, 0, 0, 0.25);
    width: 100vw;
}

// --------------------------register mobile --------------------

.register-container{
    color: $backgroundMainColor;
}

// --------------------------ingredient desktop--------------------
.ingredient {
    @include myPicture(6.1875rem, 6.0625rem, 1.25rem, ($boxShadowPic));
}
// --------------------------ingredient mobile--------------------
.ingredient-mob {
    @include myPicture(4.5rem, 4.5rem, 1.25rem, ($boxShadowPic));
}

// -------------------------- user page --------------------
.user-avatar {
    @include media-breakpoint-down(md){
        text-align: center;
        margin: 18px auto;
        display: flex;
        width: 60%;
    }
    @include media-breakpoint-up(md){
        width: 25em;
    }
}

.logout-link{
    margin-left: 38px;
}

.user-card:nth-of-type(2){
    margin-top: 38px;
}

.user-card{
    @include media-breakpoint-up(md){
        background-color: $backgroundButton;
        border-radius: 18px;
        color: $backgroundMainColor;
        box-shadow: $boxShadowPic;
        width: 23em;
        height: 7em;
        padding-top: 16px;
    }
}

.user-card h4{
    @include media-breakpoint-down(md){
        text-align: center;
        font-weight: 600;
        font-size: x-large;
    }
    @include media-breakpoint-up(md){
        text-align: center;
        font-size: xx-large;
        font-weight: 600;
    }
}

.user-card p{
    text-align: center;
    margin: 0;
    font-size: large;
}

.user-container{
    @include media-breakpoint-down(md){
        display: flex;
        flex-direction: column;
    }
    @include media-breakpoint-up(md){
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

.container-card-button{
    @include media-breakpoint-down(md){
        width: auto;
    }
    @include media-breakpoint-up(md){
        display: flex;
        flex-direction: column;
        width: 23em;
        margin-top: 50px;
    }
}

.user-button{
    @include media-breakpoint-down(md){
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 38px;
    }
    @include media-breakpoint-up(md){
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 38px;
        width: 100%;
    }
}

// ------------------------------recipe list--------------------
.recipe-list {
    width: 20vw;
}

.pic-recipe-list {
    height: 15.68rem;
    width: auto;
    border-radius: 1.25rem;
    box-shadow: 0px 4px 9px 3px rgba(171, 136, 125, 0.47);
}

.pic-recipe-list-mobile {
    height: 4.5rem;
    width: auto;
    border-radius: 1.25rem;
    box-shadow: 0px 4px 9px 3px rgba(171, 136, 125, 0.47);
}

.recipe-list-mobile {
    width: 30vw;
}
// ----------------show------------------
nav {
    float: left;
    width: 4rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

.recipe-crud {
    margin-left: 4rem;
}

// ------------------home----------------------
.pic-category-recipe{
    box-shadow: $boxShadowPic;
    border-radius: $borderRadiusPic;
}