{% extends 'base.html.twig' %}

{% block title %}Editer une recette{% endblock %}

{% block body %}
    <h1>Editer une recette</h1>

    {{ include('recipe/_form.html.twig', {'button_label': 'Editer la recette'}) }}

    <a class="container btn button-crud mt-2" href="{{ path('app_recipe_index') }}">Retour à la liste des recettes</a>

    {{ include('recipe/_delete_form.html.twig') }}
{% endblock %}
