{% extends 'base.html.twig' %}

{% block title %}Ajouter une recette
{% endblock %}

{% block body %}
	<div class="container-fluid w-100 mt-4 px-4 paragraph">

		<h1 class="mt-2 mb-2 text-center">Ajouter une recette</h1>

		<div class="container-add-form">
			<img src="/build/images/nomnomlogo.png" alt="logo de nomnomnom" class="logo-add">
		</div>
		<div class="paragraph mb-3">
			<div>{{ include('recipe/_form.html.twig') }}</div>
		</div>
	</div>

		{% endblock %}
