{% extends 'base.html.twig' %}

{% block title %}Ajouter une recette
{% endblock %}

{% block body %}
	<img class="w-100 object-fit-cover d-none d-md-block " src="/build/images/background-pages.png">
	<div class="container-fluid mt-4 px-4 paragraph w-75">

		<h1 class="mt-2 mb-2 text-center">Ajouter une recette</h1>

		<div class="container-add-form d-md-none">
			<img src="/build/images/nomnomlogo.png" alt="logo de nomnomnom" class="logo-add">
		</div>
		<div class="paragraph mb-3 delete-child">
			{{ include('recipe/_form.html.twig') }}
		</div>
	</div>

{% endblock %}
