<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Nouvelle recette chez Nom-Nom !</title>
	</head>
	<body>
	<img src="/assets/images/nomnomlogo.png" alt="logo de nomnomnom" class="logo-add">
			<h1 class="text-center">La recette
				{{ recipe.nameRecipe }}
				vient d'être publiée</h1>
			<p>Bonjour, la recette
				{{ recipe.nameRecipe }}
				a été publiée</p>
			<p>Bonne popote !</p>
			<p>L'équipe Nom-Nom</p>
	</body>
</html>
