<ul class="navbar-mobile navbar fixed-bottom justify-content-center" id="navbar-mobile">
	<li class="nav-item">
		<a class="nav-link active" aria-current="page" href="{{path('app_home')}}">
			<i class="fa-solid fa-house-chimney"></i>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">
			<i class="fa-solid fa-utensils"></i>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">
			<i class="fa-solid fa-circle-plus"></i>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">
			<i class="fa-regular fa-heart"></i>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">
			<i class="fa-solid fa-circle-user"></i>
		</a>
	</li>
</ul>

<ul class="navbar-desktop navbar fixed-bottom justify-content-center" id="navbar-desktop">
	<li class="nav-item">
		<a class="nav-link active" aria-current="page" href="{{path('app_home')}}">
			Accueil
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">
			Recettes
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">
			Ajouter une recette
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">
			Favoris
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">
			Mon profil
		</a>
	</li>
</ul>

<div class="bento-container">
	<img src="{{ asset('build/images/menu_bento.png') }}" alt="menu bento" class="menu-bento" id="bento">
</div>
